*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
}
.body {
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.video-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.7;
  height: 100vh;
  overflow: hidden;
}
.color-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #9a67ea;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}
.container-box {
  z-index: 1;
  border-radius: 20px;
  height: 80%;
  width: 400px;
  background-color: #320b86;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.calculator {
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
}
